.navbar {
    padding: 0px 0px !important;
}

.navbar-nav .nav-link {
    color: #fff !important;
    font-weight: 600;
    border-right: 1px solid;
    padding: 8px 18px !important;
}

.card-shadow {
    box-shadow: 0 2px 8px 0 rgb(0 0 0/ 10%);
    border-radius: 5px;
}

.categor-heading {
    padding: 10px 12px;
    border-left: 6px solid #000;
    background-color: #ddd;
}

.post-heading {
    font-size: 26px;
    color: #000;
}


.owl-nav button.owl-next,
.owl-nav button.owl-prev {
    color: #fff !important;
    margin-left: 10px;
    background-color: rgb(0, 0, 0) !important;
    border: none !important;
    outline: none;
    font-size: 20px !important;
    height: 35px;
    width: 40px !important;
}

.underline {
    height: 3px;
    width: 60px;
    background-color: rgb(88, 87, 87) !important;
    margin-bottom: 10px;
}

.bg-gary {
    background-color: #ddd;
}


.post_description {
    overflow-y: scroll;
    scrollbar-width: none;
}

.post-code-bg {
    width: fit-content;
    min-width: 10%;
    background-color: #212121 !important;
    width: 10% !important;
    overflow-x: scroll !important;
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
